<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="net.chenlin.dp.modules.goods.dao.GoodsBuyPlanMapper">
	
	<select id="listForPage" resultType="net.chenlin.dp.modules.goods.entity.GoodsBuyPlanEntity">
		SELECT
			`id`, 
			`name`, 
			`start_time`, 
			`end_time`, 
			`status`
		FROM
			goods_buy_plan g
		<where>
			<if test="name != null and name.trim() != ''">
				AND g.name LIKE concat('%',#{name},'%')
			</if>
		</where>
		ORDER BY
			id DESC
	</select>
	
	<insert id="save">
		INSERT INTO goods_buy_plan (
			`id`, 
			`name`, 
			`start_time`, 
			`end_time`, 
			`status`
		)
		VALUES (
			#{id}, 
			#{name}, 
			#{startTime}, 
			#{endTime}, 
			#{status}
		)
	</insert>
	
	<select id="getObjectById" resultType="net.chenlin.dp.modules.goods.entity.GoodsBuyPlanEntity">
		SELECT
			`id`, 
			`name`, 
			`start_time`, 
			`end_time`, 
			`status`
		FROM
			goods_buy_plan
		WHERE
			id = #{id}
	</select>
	
	<update id="update">
		UPDATE goods_buy_plan
	 	<set>
			<if test="name != null">`name` = #{name}, </if>
			<if test="startTime != null">`start_time` = #{startTime}, </if>
			<if test="endTime != null">`end_time` = #{endTime}, </if>
			<if test="status != null">`status` = #{status}</if>
		</set>
		WHERE
			id = #{id}
	</update>
	
	<delete id="batchRemove">
		DELETE
		FROM
			goods_buy_plan
		WHERE
			id IN
		<foreach item="id" collection="array" open="(" separator="," close=")">
			#{id}
		</foreach>
	</delete>

</mapper>