<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="include/header_css::header('计划编制管理表')"></head>
<body>
	<div id="dpLTE" class="container-fluid" v-cloak>
		<table class="form" id="form">
			<tr>
	            <td class="formTitle">计划id<font face="宋体">*</font></td>
	            <td class="formValue">
					<input type="text" class="form-control" placeholder="计划id" v-model="workPlanAuthorizedStrength.planId" isvalid="yes" checkexpession="NotNull">
	            </td>
        	</tr>
			<tr>
	            <td class="formTitle">作业描述<font face="宋体">*</font></td>
	            <td class="formValue">
					<input type="text" class="form-control" placeholder="作业描述" v-model="workPlanAuthorizedStrength.workDescribe" isvalid="yes" checkexpession="NotNull">
	            </td>
        	</tr>
			<tr>
	            <td class="formTitle">作业开始时间<font face="宋体">*</font></td>
	            <td class="formValue">
					<input type="text" class="form-control" placeholder="作业开始时间" v-model="workPlanAuthorizedStrength.startWorkTime" isvalid="yes" checkexpession="NotNull">
	            </td>
        	</tr>
			<tr>
	            <td class="formTitle">作业结束时间<font face="宋体">*</font></td>
	            <td class="formValue">
					<input type="text" class="form-control" placeholder="作业结束时间" v-model="workPlanAuthorizedStrength.endWorkTime" isvalid="yes" checkexpession="NotNull">
	            </td>
        	</tr>
			<tr>
	            <td class="formTitle">作业地点<font face="宋体">*</font></td>
	            <td class="formValue">
					<input type="text" class="form-control" placeholder="作业地点" v-model="workPlanAuthorizedStrength.workSite" isvalid="yes" checkexpession="NotNull">
	            </td>
        	</tr>
			<tr>
	            <td class="formTitle">作业部门<font face="宋体">*</font></td>
	            <td class="formValue">
					<input type="text" class="form-control" placeholder="作业部门" v-model="workPlanAuthorizedStrength.workDep" isvalid="yes" checkexpession="NotNull">
	            </td>
        	</tr>
			<tr>
	            <td class="formTitle">计划类型<font face="宋体">*</font></td>
	            <td class="formValue">
					<input type="text" class="form-control" placeholder="计划类型" v-model="workPlanAuthorizedStrength.planType" isvalid="yes" checkexpession="NotNull">
	            </td>
        	</tr>
			<tr>
	            <td class="formTitle">状态 0:禁用，1:正常<font face="宋体">*</font></td>
	            <td class="formValue">
					<input type="text" class="form-control" placeholder="状态 0:禁用，1:正常" v-model="workPlanAuthorizedStrength.status" isvalid="yes" checkexpession="NotNull">
	            </td>
        	</tr>
			<tr>
	            <td class="formTitle">审批  0未审批 1 审批<font face="宋体">*</font></td>
	            <td class="formValue">
					<input type="text" class="form-control" placeholder="审批  0未审批 1 审批" v-model="workPlanAuthorizedStrength.check" isvalid="yes" checkexpession="NotNull">
	            </td>
        	</tr>
			<tr>
	            <td class="formTitle">送审   0 未送审  1送审<font face="宋体">*</font></td>
	            <td class="formValue">
					<input type="text" class="form-control" placeholder="送审   0 未送审  1送审" v-model="workPlanAuthorizedStrength.forCheck" isvalid="yes" checkexpession="NotNull">
	            </td>
        	</tr>
			<tr>
	            <td class="formTitle">上报   0未上报 1已上报<font face="宋体">*</font></td>
	            <td class="formValue">
					<input type="text" class="form-control" placeholder="上报   0未上报 1已上报" v-model="workPlanAuthorizedStrength.appear" isvalid="yes" checkexpession="NotNull">
	            </td>
        	</tr>
			<tr>
	            <td class="formTitle">发布 0未发布 1已发布<font face="宋体">*</font></td>
	            <td class="formValue">
					<input type="text" class="form-control" placeholder="发布 0未发布 1已发布" v-model="workPlanAuthorizedStrength.subscrible" isvalid="yes" checkexpession="NotNull">
	            </td>
        	</tr>
			<tr>
	            <td class="formTitle">作业类型<font face="宋体">*</font></td>
	            <td class="formValue">
					<input type="text" class="form-control" placeholder="作业类型" v-model="workPlanAuthorizedStrength.workType" isvalid="yes" checkexpession="NotNull">
	            </td>
        	</tr>
			<tr>
	            <td class="formTitle">备注<font face="宋体">*</font></td>
	            <td class="formValue">
					<input type="text" class="form-control" placeholder="备注" v-model="workPlanAuthorizedStrength.remark" isvalid="yes" checkexpession="NotNull">
	            </td>
        	</tr>
			<tr>
	            <td class="formTitle">创建用户id<font face="宋体">*</font></td>
	            <td class="formValue">
					<input type="text" class="form-control" placeholder="创建用户id" v-model="workPlanAuthorizedStrength.userIdCreate" isvalid="yes" checkexpession="NotNull">
	            </td>
        	</tr>
			<tr>
	            <td class="formTitle">创建时间<font face="宋体">*</font></td>
	            <td class="formValue">
					<input type="text" class="form-control" placeholder="创建时间" v-model="workPlanAuthorizedStrength.gmtCreate" isvalid="yes" checkexpession="NotNull">
	            </td>
        	</tr>
			<tr>
	            <td class="formTitle">修改时间<font face="宋体">*</font></td>
	            <td class="formValue">
					<input type="text" class="form-control" placeholder="修改时间" v-model="workPlanAuthorizedStrength.gmtModified" isvalid="yes" checkexpession="NotNull">
	            </td>
        	</tr>
		</table>
	</div>
	<div th:include="include/footer_js::footer"></div>
	<script th:src="@{/js/base/workPlanAuthorizedStrength/edit.js}"></script>
</body>
</html>