<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="include/header_css::header('公告管理')"></head>
<body>
	<div id="dpLTE" class="container-fluid" v-cloak>
		<table class="form" id="form">
			<tr>
	            <td class="formTitle">公告名称<font face="宋体">*</font></td>
	            <td class="formValue">
					<input type="text" class="form-control" placeholder="公告名称" v-model="goodsNotice.name" isvalid="yes" checkexpession="NotNull">
	            </td>
        	</tr>
			<tr>
	            <td class="formTitle">公告开始时间<font face="宋体">*</font></td>
	            <td class="formValue">
					<input type="text" class="form-control" placeholder="公告开始时间" v-model="goodsNotice.startTime" isvalid="yes" checkexpession="NotNull">
	            </td>
        	</tr>
			<tr>
	            <td class="formTitle">公告结束时间<font face="宋体">*</font></td>
	            <td class="formValue">
					<input type="text" class="form-control" placeholder="公告结束时间" v-model="goodsNotice.endTime" isvalid="yes" checkexpession="NotNull">
	            </td>
        	</tr>
			<tr>
	            <td class="formTitle">详细内容<font face="宋体">*</font></td>
	            <td class="formValue">
					<input type="text" class="form-control" placeholder="详细内容" v-model="goodsNotice.detail" isvalid="yes" checkexpession="NotNull">
	            </td>
        	</tr>
		</table>
	</div>
	<div th:include="include/footer_js::footer"></div>
	<script th:src="@{/js/base/notice/add.js}"></script>
</body>
</html>